/*
color palette
1C1C1B - black
353535 - less black
FFF000 - yellow
FEFCFF - white
5600FF - blue
 */

/*
main
NEEDS CLEANUP
 */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: #1C1C1B;
    overflow-x: hidden;
    color: #FEFCFF;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    text-align: center;
    font-size: 10px;
    line-height: 50px;
    border-top: 1px #353535 solid;
    background-color: #1C1C1B;
}

header {
    border-bottom: 1px #353535 solid;
}

nav {
    height: 95px;
}

a {
    color: #FEFCFF;
    text-decoration: none;
}

a:hover {
    color: #FEFCFF;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    font-size: 15px;
    text-transform: uppercase;
    justify-content: space-evenly;
    width: 100%;
}

#menu > ul > li {
    margin: auto;
}

#mobile-menu > div > ul > li {
    margin-left: 30%;
    margin-bottom: 25px;
}

#burger {
    border: none;
    font-size: 30px;
    outline: none;
}

.color-yellow {
    color: #FFF000;
}

.page-wrapper {
    width: 100%;
    height: 500px;
}

.page-container {
    width: 100%;
    margin: 50px 0 auto;
    padding: 40px 0;
    text-align: center;
}

.page-container-bigtext-justify, .page-container-bigtext-centered {
    padding: 40px 10%;
}

@media (max-width: 767.98px) {
    .page-container-bigtext-justify {
        text-align: justify !important;
        font-size: 20px !important;
    }
    .page-container-bigtext-centered {
        font-size: 20px !important;
    }
}

.smalltext {
    font-size: 15px;
}

.bigcenteredtext {
    text-align: center;
    font-size: 30px;
}

/*
forms
NEEDS CLEANUP
 */

textarea {
    outline: none;
    background-color: #1C1C1B;
    color: #FEFCFF;
    border: 1px #353535 solid;
    resize: none;
    font-family: 'Roboto', sans-serif;
    width: 50%;
    height: 320px;
}

.button {
    text-transform: uppercase;
    font-size: 23px;
    margin: 20px !important;
    display: inline-block;
}

.clickable {
    cursor: pointer;
}

/*
nav
 */

.numeric {
    font-family: 'Orbitron', sans-serif;
    font-size: 10px;
}

.underline {
    border-bottom: 1px solid #5600FF;
    margin: auto;
}

#mobile-menu {
    display: block;
    opacity: 1;
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -250px;
    z-index: 9999;
    background: #353535;
}

.mobile-overlay {
    display: none;
    opacity: 0;
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

/*
Logo stuff
 */

.logo-main {
    font-size: 7vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.logo-sub {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    height: 100px;
    line-height: 50px;
}

.logo-hr {
    width: 100%;
    background: #FEFCFF;
    margin-top: -49px;
    float: left;
}

/*
Scrollbar
 */

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    background-color: #1C1C1B;
    transition: 0.9s;
}

::-webkit-scrollbar-thumb {
    background-color: #FFF000;
    width: 5px;
    border: 0;
    transition: 0.7s;
}

/*
Pre-loader Post-loader stuff
 */

.pre-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: #1C1C1B;
}

.pre-load {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
}

.anim-pre-load-logo-main {
    animation: logo-slide-left 1s ease-out forwards;
    animation-delay: 1.0s;
}

.anim-pre-load-logo-sub {
    animation: on-and-off 2s ease-out forwards;
}

.anim-post-load-logo-main {
    animation: logo-slide-right 0.5s ease-out forwards;
    animation-delay: 2.0s;
}

.anim-post-load-logo-sub {
    animation: logo-slide-right 0.4s ease-out forwards;
    animation-delay: 2.0s;
}

.anim-post-load-nav {
    animation: fade-in 0.4s ease-out forwards;
    animation-delay: 2.8s;
    opacity: 0;
}

.anim-post-load-footer {
    animation: fade-in-to-top 0.3s ease-out forwards;
    animation-delay: 3.5s;
    opacity: 0;
}

.anim-post-load-logo-hr {
    animation: slide-right-hr 0.5s ease-out forwards;
    animation-delay: 2.35s;
    transform: scaleX(0);
    transform-origin: left;
}

.anim-post-load-page {
    animation: fade-in 0.5s ease-out forwards;
    animation-delay: 3s;
    transition: transform .4s;
    opacity: 0;
}

@keyframes on-and-off {
    0% {
        opacity: 0;
    }
    20%, 60% {
        opacity: 1;
    }
    80%, 100% {
        opacity: 0;
    }
}

@keyframes logo-slide-left {
    0% {
        transform: none;
    }
    100% {
        transform:  translateX(-1000px) skew(-0.05turn, 0deg);
    }
}

@keyframes logo-slide-right {
    0% {
        transform: translateX(-500px) skew(0.05turn, 0deg);
    }
    90% {
        transform: translateX(0px) skew(0.01turn, 0deg);
    }
    100% {
        transform:  translateX(0px);
    }
}

@keyframes slide-right-hr {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in-to-top {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/*
JS classes in case we want to change something (or just to remember them)
 */

#js-joke { opacity: 0; }

#js-loader {  }

#pages-wrapper {  }

.js-href {  }

.js-mobile-href {  }